langchain==0.2.14
langchain-community==0.2.12
langchain-core==0.2.33
langchain-openai==0.1.22
langchain-huggingface==0.0.3
langchain-chroma==0.1.3
chromadb
faiss-cpu==1.8.0
qdrant-client==1.10.1
pymilvus==2.4.5
weaviate-client==4.7.1
sentence-transformers==3.0.1
python-dotenv==1.0.1
pypdf==4.3.1
einops